.chat-input{
  width: 20rem;
  margin-top: 10px;
  padding: 7px 10px;
  border: 2px solid grey;
  border-radius: 10px;
}

.send-btn{
  border-radius: 10px;
  border: 2px solid grey;
  padding: 7px 10px;
  margin-left: 20px;
}